body {
    background-image: url("https://i.pinimg.com/564x/51/ef/4b/51ef4bc9568afc73051419434407ee97.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
    
  

body {
  font-family: 'Syne', sans-serif; 
}
  
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
  
.image-container {
    text-align: center;
    width: 100%;
}
  
.links-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.teksti {
    font-size: 17px;
}

